<%-   include('partials/header.ejs')   %>
<!-- <%- include('partials/footer.ejs') %> -->
  <!-- Main Content -->
  <div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h2>All Contacts</h2>
      <button  class="btn btn-success"><a href="/add-contact">Add New</a></button>
    </div>

    <table class="table table-bordered table-striped">
      <thead class="table-dark">
        <tr>
          <th>SNr</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% var srno=1; %>
        <%    contacts.forEach(contact => { %>
          <tr>
            <td><%= srno++ %></td>
          <td><%= contact.first_name %></td>
          <td><%= contact.last_name %></td>
          <td><%= contact.email %></td>
          <td><%= contact.phone %></td>
         
          <td>
            <button class="btn btn-sm btn-info text-white"><a href="/show-contact/<%= contact._id %>">View</a></button>
            <button class="btn btn-sm btn-primary"><a href="/update-contact/<%= contact._id %>">Edit</a></button>
            <button class="btn btn-sm btn-danger"><a href="/delete-contact/<%= contact._id %>">Delete</a></button>
          </td>
        </tr>
        <% });    %>
        
        <!-- <tr>
          <td>2</td>
          <td>Jane</td>
          <td>Smith</td>
          <td>jane@example.com</td>
          <td>987-654-3210</td>
          <td>
            <button class="btn btn-sm btn-info text-white"><a href="/show-contact">View</a></button>
            <button class="btn btn-sm btn-primary">Edit</button>
            <button class="btn btn-sm btn-danger">Delete</button>
          </td>
        </tr>
        <tr>
          <td>3</td>
          <td>Michael</td>
          <td>Johnson</td>
          <td>michael@example.com</td>
          <td>555-123-4567</td>
          <td>
            <button class="btn btn-sm btn-info text-white">View</button>
            <button class="btn btn-sm btn-primary">Edit</button>
            <button class="btn btn-sm btn-danger">Delete</button>
          </td>
        </tr>
        <tr>
          <td>4</td>
          <td>Emily</td>
          <td>Davis</td>
          <td>emily@example.com</td>
          <td>222-333-4444</td>
          <td>
            <button class="btn btn-sm btn-info text-white">View</button>
            <button class="btn btn-sm btn-primary">Edit</button>
            <button class="btn btn-sm btn-danger">Delete</button>
          </td>
        </tr>
        <tr>
          <td>5</td>
          <td>Chris</td>
          <td>Lee</td>
          <td>chris@example.com</td>
          <td>777-888-9999</td>
          <td>
            <button class="btn btn-sm btn-info text-white">View</button>
            <button class="btn btn-sm btn-primary">Edit</button>
            <button class="btn btn-sm btn-danger">Delete</button>
          </td>
        </tr> -->
      </tbody>
    </table>
  </div>

<%-  include('partials/footer.ejs')    %>